doctype html
html
    head
        meta(charset="UTF-8")
        title Battle Chess
        link(rel="stylesheet" type="text/css" href="./../styles/dashboard.css")
        link(rel="stylesheet" type="text/css" href="./../styles/loader.css")
    body
        include ./components/loader
        main
            div.header
                div.info-bar
                    div.info
                        p You are logged in as <b>#{user}</b>
                        input(class="button" type="button" id="logout" value="logout")
                hr
            div.available_games
                h2 List of available games:
                ul
                h3.server_messages
            div.buttons
                input(class="create-button" type="button" id="create" value="create game")
        script(type="text/javascript" src="./../scripts/dashboard.bundle.js")
